.container {
 margin-left: 16em;
 margin-top: 6em;
 position: relative;
}

.chronology {
 margin-left: '-13em';
 margin-top: '-5em';
 position: 'absolute'
}

@media (max-width: 640px) {
 .container {
  margin-left: 1.5em;
 }

}